<template name="roba_launcher">
  <div class="roba-launcher-container">
    <div class="roba-launcher-content">
      <h3>Launch drone to <span class="dark-blue">{{ getRoute.destination.title }}</span></h3>
      {{#if getRoute.feasible }}
        <div>
          <div class="simple-col simple-col-3 simple-divider">
            <div>
              <span class="field-label">User Account: </span>
              {{> EditableUserAccount value=getAccount projectVersionId=projectVersionId userType=getRoute.userType dataKey="account" }}
            </div>
            <div>
              <span class="field-label">Platform: </span>
              {{ getRoute.platform.title }}
            </div>
            <div>
              <span class="field-label">Server: </span>
              {{> EditableServerSelector value=getServer projectVersionId=projectVersionId dataKey="server" }}
            </div>
            <div>
              <span class="field-label">Test System: </span>
              {{> EditableTestSystemSelector value=getTestSystem testAgent=getTestAgent projectVersionId=projectVersionId dataKey="testSystem" }}
            </div>
            <div>
              <span class="field-label">Agent: </span>
              {{> EditableTestAgentSelector value=getTestAgent projectVersionId=projectVersionId dataKey="testAgent" }}
            </div>
            <div class="text-center" style="margin-top:20px;">
              <button class="btn btn-warning btn-launch-drone">
                <span class="glyphicon glyphicon-send"></span>
                Launch Adventure
              </button>
            </div>
          </div>
          <div class="simple-col simple-col-9">
            {{> RobaLauncherRoute getRoute }}
          </div>
        </div>
      {{else}}
        <div><span class="dark-orange">Error: </span>This destination doesn't look reachable at this point.</div>
      {{/if}}
    </div>
  </div>
</template>