/* Home Nav */

.home-nav-item h4 {
  margin-top: 20px;
}

.user-type-data-store-fields {
  margin-bottom: 20px;
}

/**
 * Credentials fields
 */
.user-type-field:hover {
  background-color: #f5f5f5;
}
.user-type-field > td {
  margin-right: 5px;
  padding: 3px;
}

/* Divider Row */
.sortable-fields .table-divider .divider {
  margin-top: 5px;
  border-top: 1px dotted #666;
  margin-bottom: 5px;
  width: 100%;
}

/* Drag handle */
.user-type-field .field-drag-handle {
  width: 20px;
}
.user-type-field:hover .field-drag-handle {
  border-radius: 3px 0 0 3px;
  background: #0A7BFF;
  cursor: pointer;
}
.user-type-field:hover .field-drag-handle:hover {
  background-color: #0A7BFF;
}

/* Delete Button */
.field-btn-delete {
  border-radius: 0 3px 3px 0;
  width: 2em;
  color: #ffffff;
  cursor: pointer;
}
.user-type-field:hover .field-btn-delete {
  background-color: #f0ad4e;
}
.user-type-field:hover .field-btn-delete:hover {
  background-color: #ec971f;
}
.field-btn-delete .glyphicon {
  margin-left:3px;
}

/* Fields */
.field-name-editable {
  color: #333 !important;
}
.field-type-editable {
  color: #0A7BFF !important;
}

/* Platform Configuration */
.os-container {
  margin-top: 20px;
}