<template name="nav_menu">
  <div class="main-nav-placement">
    <div class="main-nav-menu">
      <div class="nav-body">
        <div>
          <div class="nav-body-left">
            {{> HomeNav }}
          </div>
          <div class="nav-body-right">
            {{> Template.dynamic template=subNav }}
          </div>
        </div>

        <div class="nav-bottom-row">
          {{#with currentUser }}
            <h4 class="nav-name"><a href="/">{{profile.name}}</a></h4>
          {{/with}}
          <div class="nav-logout">
            <a href="/logout">
              <span class="glyphicon glyphicon-log-out"></span>
              Logout
            </a>
          </div>
        </div>

        <div class="nav-logo-container">
          <div class="nav-logo-placement">
            <div class="nav-logo-bar">
              <img class="nav-logo" src="/roba_logo.svg">
            </div>
            <div class="nav-title">
              {{ navTitle }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>