<template name="PageViewEditPanel">
  <div class="full-width">
    {{#RobaTabGroup name="edit-panel-tabs" navClass="nav-tabs"}}
      {{#RobaTab name="details" title="Details"}}
        <div class="flex">
          <div style="flex-basis: 65%; margin:5px;">
            <table class="node-details-table">
              <tr>
                <td class="node-details-label">
                  Type:
                </td>
                <td class="node-details-value break-word">
                  {{> EditableNodeType cssClass="inline-block" pageView=true value=type dataKey="type" emptyText="Select a node type" }}
                </td>
              </tr>
              {{#if editParamsPanel}}
                {{> Template.dynamic template=editParamsPanel }}
              {{/if}}
              <tr>
                <td class="node-details-label">Nav Menus:</td>
                <td class="node-details-value">
                  {{> EditableNavMenuList projectVersionId=projectVersionId value=navMenus dataKey="navMenus" }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      {{/RobaTab}}
      {{#RobaTab name="ready" title="Ready Checks"}}
        <div>
          <h4 class="inline-block">{{renderLookup "NodeTypesLookup" type}} Ready Checks:</h4>
          <button class="btn btn-primary btn-small btn-small-round btn-add-check" data-check-type="ready">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        {{> NodeCheckEditList node=this type=checkTypes.ready}}
      
        <h4>{{renderLookup "NodeTypesLookup" type}} Ready Code:</h4>

        {{> EditableCode dataKey="readyCode" value=readyCode emptyText="Click to define ready code for this node."}}
      {{/RobaTab}}
      {{#RobaTab name="validations" title="Validations"}}
        <div>
          <h4 class="inline-block">{{renderLookup "NodeTypesLookup" type}} Valid Checks:</h4>
          <button class="btn btn-primary btn-small btn-small-round btn-add-check" data-check-type="value">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        {{> NodeCheckEditList node=this type=checkTypes.valid}}
      
        <h4>{{renderLookup "NodeTypesLookup" type}} Valid Code:</h4>
        {{> EditableCode dataKey="validationCode" value=validationCode  emptyText="Click to define validation code for this node."}}
      {{/RobaTab}}
      {{#RobaTab name="documentation" title="Documentation"}}
        Documentation
      {{/RobaTab}}
      {{#RobaTab name="recent" title="Recent Renditions"}}
        Recent Renditions
      {{/RobaTab}}
    {{/RobaTabGroup}}
  </div>
</template>