.sub-heading {
  padding: 5px;
}

/**
 * Current Location
 */
.current-location {
  padding: 10px;
}
.current-location-action-row td {
  vertical-align: middle !important;
}

/**
 * Edit node form
 */
.field-label {
  text-align: right;
  color: #298cff;
  padding-right: 5px;
  vertical-align: top;
}

/**
 * Current location menu
 */
.current-location-menu {
  border-radius: 4px;
  background-color: #0A7BFF;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.current-location-menu .btn-group button:first-child {
  border-top-left-radius: 0;
}

.current-location-menu .btn-group button:last-child {
  border-top-right-radius: 0;
}

/**
 * Create node form
 */
.create-node-form {
  padding-bottom: 10px;
}

.create-node-form .clickable {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 2px;
}

.create-node-form .clickable:hover {
  cursor: pointer;
  background: #dddddd;
}

.create-node-form .clickable.selected {
  cursor: pointer;
  background: #50d7ff;
}

.create-node-btn-bar {
  padding: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}
