/**
 * Current Location
 */
.current-location {
  padding: 10px;
}
.current-location-action-row td {
  vertical-align: middle !important;
}

/**
 * Edit node form
 */
.field-label {
  text-align: right;
  color: #298cff;
  padding-right: 5px;
  vertical-align: top;
}

/**
 * Current location menu
 */
.current-location-menu {
  border-radius: 4px;
  background-color: #0A7BFF;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.current-location-menu .btn-group button:first-child {
  border-top-left-radius: 0;
}

.current-location-menu .btn-group button:last-child {
  border-top-right-radius: 0;
}

/**
 * Create node form
 */
.create-node-form {
  padding-bottom: 10px;
}

.create-node-form .clickable {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 2px;
}

.create-node-form .clickable:hover {
  cursor: pointer;
  background: #dddddd;
}

.create-node-form .clickable.selected {
  cursor: pointer;
  background: #50d7ff;
}

.create-node-btn-bar {
  padding: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}

/**
 * Current Location container
 */
.current-location-container > div {
  border-top: 3px solid #0A7BFF;
}

/**
 * Current Location Actions
 */
.current-location-action-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-location-action-row.disabled {
  opacity: 0.5;
}

.current-location-action-row > div {
  flex: 1 1 auto;
}

.current-location-action-row .title-cell {
  flex: 2 2 300px;
}

.current-location-action-row .route-cell {
  text-align: right;
  flex-basis: 200px;
}

.current-location-action-row .action-cell {
  text-align: right;
  flex-basis: 100px;
}

/**
 * Action edit form
 */
.edit-action-form {
  width: 100%;
  border: 2px solid #0a7bff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.edit-action-form-section {
  padding: 10px;
}

.edit-action-form-container td {
  border-top: none !important;
}
