/**
 * Base containers
 */
.login-container {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 40%;
  margin-top: -200px;
  margin-left: -200px;
  
  -webkit-transition: width 0.75s, height 0.75s, margin-top 0.75s, margin-left 0.75s;
  transition: width 0.75s, height 0.75s, margin-top 0.75s, margin-left 0.75s;
}

.login-intro {
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.login-submit {
  width: 120px !important;
  height: 120px !important;
  margin-top: -60px !important;
  margin-left: -60px !important;
}

.login-expand {
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
}

/**
 * Logo Bar
 */
.main-logo-container {
  position: absolute;
  background-color: #0A7BFF;
  width: 100%;
  height: 40%;
}

.main-logo-container .logo {
  position: absolute;
  left: 50%;
  height: 100%;
}

/**
 * SVG Elements
 */
.login-container.login-svg {
  z-index: 10;
  pointer-events: none;
}

.login-frame {
  stroke: rgb(165, 165, 165);
  stroke-width: 3;
}

/**
 * HTML Elements
 */
.login-container.login-html {
  overflow: hidden;
  z-index: 9;
  background-color: #0A7BFF;
}

.login-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  
  -webkit-transition: left 0.75s;
  transition: left 0.75s;
}

.slide-right {
  left: -500px;
}

#login-form-container, #signup-form-container {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border: 5px solid #fff;
}

#login-form-container {
  background-color: #0A7BFF;
  left: 0;
}

#signup-form-container {
  background-color: #ff5900;
  left: 50%;
}

#login-form-container .form {
  margin: 25% 65px 10%;
}

#signup-form-container .form {
  margin: 21% 95px 10%;
}

.login-container h1 {
  color: #fff;
}

.login-btn-container {
  width: 100%;
  position: absolute;
  bottom: 75px;
}

.login-container button {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  width: 45%;
  font-size: 18pt;
  border: 3px solid #fff;
  color: #0A7BFF;
  margin: 5px;
}

.login-container button.pull-left {
  padding-right: 25px;
  text-align: right;
}

.login-container button.pull-right {
  padding-left: 25px;
  text-align: left;
}

.login-container button:hover {
  background-color: #fff;
}

.login-spinner {
  z-index: 11;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 50%;
  left: 40%;
  margin-top: -55px;
  margin-left: -55px;
}

.logout-bye {
  position: absolute;
  font-size: 72pt;
  top: 50%;
  margin-top: -36pt;
  color: #fff;
  text-align: center;
  width: 100%;
}

