.edit-node-title {
  font-size: 30px;
}

.edit-node-url, .node-url-parameter .editable {
  display: inline-block;
}

.x-editable-auto {
  height: auto;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -webkit-transition: none;

  border: 1px solid #999999;
  padding: 4px;
  margin: -4px;
}