<template name="edit_action">
  {{#with getActionRecord}}
  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="col-xs-3 full-height">
        <h2>
          {{> EditableTextField cssClass="action-editable" value=title dataKey="title" }}
        </h2>
        <a class="delete-action-link">Delete Action</a>
        {{> ActionRouteSnippet }}
      </div>
      <div class="col-xs-6 full-height">
        <ul class="nav nav-pills full-height" style="padding-top: 10px;">
          <li role="presentation"><a data-tab-name="code">Code</a></li>
          <li role="presentation"><a data-tab-name="variables">Variables</a></li>
          <li role="presentation"><a data-tab-name="routes">Routes</a></li>
        </ul>
        <div class="tab-container full-height">
          <div class="tab auto-scroll" style="padding-bottom: 5px;" data-tab-name="code">
              {{> RobaAce cssClass="action-editable" fullHeight=true dataKey="code" value=code }}
          </div>
          <div class="tab auto-scroll" style="padding-bottom: 5px;" data-tab-name="variables">{{> action_edit_variables }}</div>
          <div class="tab auto-scroll" style="padding-bottom: 5px;" data-tab-name="routes">{{> action_edit_routes }}</div>
        </div>
      </div>
      <div class="col-xs-3 full-height">
        Command Reference
      </div>
    </div>
  </div>
  {{/with}}
</template>