/**
 * Main test case container
 */
.center-pole-container {
  position: absolute;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  display: flex;
  align-content: stretch;
  min-height: 100%;
}

/**
 * Main test case navigation pane
 */
.center-pole-nav {
  width: 350px;
  margin-top: 50px;
}

.pole-nav-header {
  margin: 25px;
  margin-right: 45px;
  font-size: 24px;
}

.pole-nav-outer {
  background-color: #0A7BFF;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 8px 0 16px 25px;
}

.pole-nav-wrapper {

}

.pole-nav-wrapper::before {
  content: " ";
  background-image: url(/white_circle.svg);
  background-size: 200% 200%;
  background-position: right bottom;
  float: right;
  width: 45px;
  height: 45px;
  background-color: #0A7BFF;
  position: relative;
  top: -45px;
}

.pole-nav-wrapper::after {
  content: " ";
  background-image: url(/white_circle.svg);
  background-size: 200% 200%;
  background-position: right top;
  float: right;
  width: 45px;
  height: 45px;
  background-color: #0A7BFF;
}

.pole-nav-inner {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px 10px 40px;
  position: relative;
  right: -2px;
}

/**
 * Main test case content pane
 */
.center-pole-content {
  width: 790px;
  border-left: 10px solid #0A7BFF;
  border-top-left-radius: 45px;
  padding-bottom: 40px;
  width: 100%;
}

.center-pole-content > *, .pole-content-indent {
  padding-left: 20px;
}

.center-pole-content > .tab-container {
  padding-left: 0;
}

.pole-section-header {
  padding-left: 0;
  margin-bottom: 20px;
}

.pole-section-header > h2 {
  padding-left: 20px;
  margin-bottom: 0;
}

.pole-section-header-divider {
  border-bottom: 3px solid #0A7BFF;
  width: 100%;
}

.pole-section-header-divider::after {
  content: " ";
  background-image: url(/white_circle.svg);
  background-size: 200% 200%;
  background-position: left bottom;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #0A7BFF;
  position: relative;
  top: -20px;
}

.pole-section-header::after {
  content: " ";
  background-image: url(/white_circle.svg);
  background-size: 200% 200%;
  background-position: left top;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #0A7BFF;
  position: relative;
  left: -20px;
}
