<template name="CenterPoleLayout">
  {{> nav_menu }}

  <svg id="global-defs-svg">
    <defs>
      {{> yield "svgDefs"}}
    </defs>
  </svg>

  <div class="center-pole-container">
    <div class="center-pole-left">
      <div class="center-pole-left-inner">
        <div class="center-pole-page-title">
          {{> yield "header"}}
        </div>

        <div class="center-pole-nav">
          {{> yield "nav"}}
        </div>
      </div>
    </div>
    <div class="center-pole-content">
      {{> yield }}
    </div>
  </div>
</template>