<template name="CodeModuleListModule">
  <div class="center-pole-list-selectable center-pole-list-group no-select"
       data-module-id="{{staticId}}"
       data-pk="{{_id}}">
    <span class="glyphicon glyphicon-tasks"></span>
    <span class="center-pole-list-title">{{name}}</span>
    {{#unless stubbed}}
      <button class="btn btn-xs btn-primary btn-add-function-form pull-right">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <div class="input-group input-group-sm add-item-form hide">
        <input type="text" class="form-control" pattern="{{variablePattern}}" placeholder="Enter a function name">
        <div class="input-group-btn">
          <span class="glyphicon glyphicon-remove-circle field-clear-btn"></span>
          <button type="button" class="btn btn-primary btn-add-item" disabled="disabled">
            Add
          </button>
          <button type="button" class="btn btn-primary btn-cancel">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
      <span class="help-block invalid-name hide">Please enter a valid function name</span>
      <span class="help-block duplicate-name hide">A function with that name already exists in this module</span>
    {{/unless}}
  </div>
  <div class="center-pole-list-group-items {{#unless isExpanded}}hide{{/unless}}" data-pk="{{_id}}" data-group-id="{{staticId}}">
    {{#each functions}}
      {{> CodeModuleListFunction }}
    {{/each}}
  </div>
</template>