<template name="EditNodeUrlParameterList">
  <table class="sortable-table">
    <tbody>
    {{#each indexedUrlParameters}}
      <tr class="sortable-table-row node-url-parameter" data-pk="{{../_id}}" data-index="{{index}}" data-order="{{order}}">
        <td class="drag-handle"><span class="glyphicon glyphicon-record"></span></td>
        <td>
          <div class="inline-block">
            {{> EditableTextField cssClass="edit-url-param-name" value=param dataKey=dataKeyParam}}
          </div>
          =
          <div class="inline-block">
            {{> EditableTextField cssClass="edit-url-param-value" value=value dataKey=dataKeyValue}}
          </div>
        </td>
        <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>