<template name="WebNodeEditParams">
  <tr>
    <td class="node-details-label">Page Title:</td>
    <td class="node-details-value">
      {{> EditableTextField cssClass="inline-block" value=pageTitle dataKey="pageTitle" emptyText="none"}}
    </td>
  </tr>
  <tr>
    <td class="node-details-label">Base Url:</td>
    <td class="node-details-value">
      {{> EditableTextField cssClass="edit-node-url" value=url dataKey="url" emptyText="none"}}
    </td>
  </tr>
  <tr>
    <td class="node-details-label">Url Params:</td>
    <td class="node-details-value">
      {{> EditNodeUrlParameters }}
    </td>
  </tr>
</template>