<template name="TestRunTemplate">
  <div class="test-run-template-container" data-template-id="{{staticId}}">
    {{> EditableTitleDescription value=this dataKey="title-description" titleClass="test-case-title"}}

    <h4 style="margin-top: 20px;">Test Run Steps</h4>
    <div class="test-run-item-container">
      <div class="test-run-add-item-list">
        {{> TestRunNewItem type=1 width="150px"}}
      </div>
      <hr>
      {{> TestRunItemList this isTemplate=true}}
    </div>
  </div>
</template>