<template name="PlatformViewports">
  <table class="sortable-table">
    <tr class="sortable-table-header">
      <td></td>
      <td>Title</td>
      <td>Width</td>
      <td>Height</td>
      <td>Aspect Ratio</td>
      <td>Default</td>
      <td></td>
    </tr>
    <tr class="sortable-table-divider">
      <td colspan="7"><div class="divider"></div></td>
    </tr>
    {{#unless viewports.count}}
      <tr>
        <td colspan="7"><i>Click Add Viewport to add a viewport</i></td>
      </tr>
    {{/unless}}
    {{#each viewports}}
      <tr class="sortable-table-row" data-pk="{{_id}}">
        <td class="drag-handle"></td>
        <td>{{> EditableTextField value=title dataKey="title"}}</td>
        <td>{{> EditableTextField value=width dataKey="width" dataType="number"}}</td>
        <td>{{> EditableTextField value=height dataKey="height" dataType="number"}}</td>
        <td>{{ numberFormat aspectRatio "0.000"}}</td>
        <td>{{> EditableRadioButton value=default dataKey="default"}}</td>
        <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    {{/each}}
    <tr class="sortable-table-divider">
      <td colspan="7"><div class="divider"></div></td>
    </tr>
  </table>
  <div>
    <button class="btn btn-small btn-warning btn-add-viewport" data-pk="{{_id}}">
      <span class="icon icon-plus"></span>
      Add Viewport
    </button>
  </div>
</template>