<template name="VersionServerList">
  <table class="sortable-table">
    <tr class="sortable-table-header">
      <td></td>
      <td>Name</td>
      <td>URL</td>
      <td>Configuration</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr class="sortable-table-divider">
      <td colspan="7"><div class="divider"></div></td>
    </tr>
    {{#unless sortedServers.length}}
      <tr>
        <td colspan="7"><i>Click Add Server to add a server for testing against</i></td>
      </tr>
    {{/unless}}
    {{#each sortedServers}}
      <tr class="sortable-table-row server-list-row" data-pk="{{_id}}" data-sort-order="{{order}}">
        <td class="drag-handle"><span class="glyphicon glyphicon-record"></span></td>
        <td>{{> EditableTextField value=title dataKey="title"}}</td>
        <td>{{> EditableTextField value=url dataKey="url" dataType="url"}}</td>
        <td>{{> EditableAutoform data=config schema=configSchema emptyText="none" dataKey="config"}}</td>
        <td>{{> EditableCheckbox value=active dataKey="active"}}</td>
        <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    {{/each}}
    <tr class="sortable-table-divider">
      <td colspan="7"><div class="divider"></div></td>
    </tr>
  </table>
  <div>
    <button class="btn btn-small btn-warning btn-add-server" data-pk="{{version._id}}">
      <span class="icon icon-plus"></span>
      Add Server
    </button>
  </div>
</template>