/**
 * Hover controls components
 */
.hover-controls-container {
  display: none;
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  min-width: 200px;
}

.hover-controls-hidden-editable {
  display: inline-block;
}
