<template name="CurrentProjectNav">
  <h1>
    {{#with project}}
      <a href="{{pathFor 'ProjectHome'}}">{{title}}</a>
    {{/with}}
  </h1>
  <h4>
    {{#with version}}
      <a href="{{pathFor 'VersionHome'}}">v {{version}}</a>
      <a href="{{pathFor 'DocTree'}}"><span class="glyphicon glyphicon-map-marker"></span></a>
      <a href="{{pathFor 'TestCaseDashboard'}}"><span class="glyphicon glyphicon-ok-circle"></span></a>
      <a href="{{pathFor 'TestRunTemplateDashboard'}}"><span class="glyphicon glyphicon-list-alt"></span></a>
    {{/with}}
  </h4>
</template>