<template name="action_edit_variables">
  <table class="sortable-table">
    <tr class="sortable-table-header">
      <td></td>
      <td>Name</td>
      <td>Type</td>
      <td>Shape</td>
      <td>Default</td>
      <td></td>
    </tr>
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
    {{#unless indexedVariables.length}}
      <tr>
        <td colspan="5"><i>Click Add Variable to add a variable for use in this action`s code elements</i></td>
      </tr>
    {{/unless}}
    {{#each indexedVariables}}
      <tr class="sortable-table-row action-variable-row" data-pk="{{../_id}}" data-variable-index="{{index}}" data-variable-order="{{order}}">
        <td class="drag-handle"><span class="glyphicon glyphicon-record"></span></td>
        <td>{{> EditableTextField mode="popup" value=name dataKey="name" }}</td>
        <td>
          {{> EditableFieldType mode="popup" type=type dataKey="type" }}
          {{> EditableCustomFieldType mode="popup" type=type customFieldType=customFieldType projectVersionId=../projectVersionId dataKey="customFieldType" }}
        </td>
        <td>{{> EditableFieldShape mode="popup" fieldIsArray=varIsArray dataKey="varIsArray" }}</td>
        <td>{{> EditableTextField mode="popup" value=defaultValue dataKey="defaultValue" emptyText="\"\"" }}</td>
        <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    {{/each}}
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
  </table>
  <button class="btn btn-warning btn-xs btn-add-var">
    <span class="glyphicon glyphicon-plus"></span>
    Add Variable
  </button>
</template>