<template name="ActionEditRoutes">
  <table class="sortable-table">
    <tr class="sortable-table-header">
      <td></td>
      <td></td>
      <td width="60%">Code</td>
      <td>Destination</td>
      <td></td>
    </tr>
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
    {{#each indexedRoutes}}
      <tr class="sortable-table-row action-route-row" data-pk="{{../_id}}" data-nodeId="{{nodeId}}" data-route-index="{{index}}" data-route-order="{{order}}">
        <td class="drag-handle"><span class="glyphicon glyphicon-record"></span></td>
        <td><div class="no-wrap" style="padding-left: 10px;">{{logic}}</div></td>
        <td class="code-editor-cell">
          {{> EditableCode dataKey=codeDataKey value=routeCode emptyText=emptyText}}
        </td>
        <td>
          {{> EditableNodeSelector mode="popup" cssClass="action-editable" dataKey=nodeDataKey value=nodeId projectVersionId=../projectVersionId scale=0.5 }}
        </td>
        {{#if canDelete}}
          <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
        {{else}}
          <td></td>
        {{/if}}
      </tr>
    {{/each}}
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
  </table>
  <button class="btn btn-warning btn-xs btn-add-route">
    <span class="glyphicon glyphicon-plus"></span>
    Add Route
  </button>
</template>