<template name="PageViewEditPanel">
  <div class="full-width">
    <div>
      <span class="field-label">Type: </span>
      {{> EditableNodeType cssClass="inline-block" pageView=true value=type dataKey="type" emptyText="Select a node type" }}
    </div>
    <hr>
    {{#if editParamsPanel}}
      {{> Template.dynamic template=editParamsPanel }}
    {{/if}}
  </div>
  <div class="full-width">
    {{#RobaTabGroup name="edit-panel-tabs" navClass="nav-tabs"}}
      {{#RobaTab name="ready" title="Ready"}}
        <div class="sub-heading">Code to determine if this {{renderLookup "NodeTypesLookup" type}} is ready:</div>
        {{> EditableCode dataKey="readyCode" value=readyCode emptyText="Click to define ready code for this node."}}
      {{/RobaTab}}
      {{#RobaTab name="validations" title="Validations"}}
        <div class="sub-heading">Code to determine if this {{renderLookup "NodeTypesLookup" type}} is valid:</div>
        {{> EditableCode dataKey="validationCode" value=validationCode  emptyText="Click to define validation code for this node."}}
      {{/RobaTab}}
      {{#RobaTab name="nav-menus" title="Nav Menus"}}
        <div class="sub-heading">Navigation Menus on this page:</div>
        {{> EditableNavMenuList projectVersionId=projectVersionId value=navMenus dataKey="navMenus" }}
      {{/RobaTab}}
      {{#RobaTab name="documentation" title="Documentation"}}
        Documentation
      {{/RobaTab}}
      {{#RobaTab name="recent" title="Recent Renditions"}}
        Recent Renditions
      {{/RobaTab}}
    {{/RobaTabGroup}}
  </div>
</template>