<template name="PageViewEditPanel">
  <div class="full-width">
    <div>
      <span class="field-label">Type: </span>
      {{> EditableNodeType cssClass="inline-block" pageView=true value=type dataKey="type" emptyText="Select a node type" }}
    </div>
    <hr>
    <div>
      <span class="field-label">Page Title: </span>
      {{> EditableTextField cssClass="inline-block" value=pageTitle dataKey="pageTitle" emptyText="none"}}
    </div>
    <div>
      <span class="dark-blue">Base Url:</span>
      {{> EditableTextField cssClass="edit-node-url" value=url dataKey="url" emptyText="none"}}
    </div>
    <div>
      {{> EditNodeUrlParameters }}
    </div>
  </div>
  <div class="full-width">
    <ul class="nav nav-pills">
      <li role="presentation"><a data-tab-name="ready">Ready</a></li>
      <li role="presentation"><a data-tab-name="validations">Validations</a></li>
      <li role="presentation"><a data-tab-name="nav-menus">Nav Menus</a></li>
      <li role="presentation"><a data-tab-name="documentation">Documentation</a></li>
      <li role="presentation"><a data-tab-name="recent">Recent Renditions</a></li>
    </ul>
    <div class="tab-container">
      <div class="tab" data-tab-name="ready">
        <div class="sub-heading">Code to determine if this {{renderLookup "NodeTypesLookup" type}} is ready:</div>
        {{> EditableCode dataKey="readyCode" value=readyCode emptyText="Click to define ready code for this node."}}
      </div>
      <div class="tab" data-tab-name="validations">
        <div class="sub-heading">Code to determine if this {{renderLookup "NodeTypesLookup" type}} is valid:</div>
        {{> EditableCode dataKey="validationCode" value=validationCode  emptyText="Click to define validation code for this node."}}
      </div>
      <div class="tab" data-tab-name="nav-menus">
        <div class="sub-heading">Navigation Menus on this page:</div>
        {{> EditableNavMenuList projectVersionId=projectVersionId value=navMenus dataKey="navMenus" }}
      </div>
      <div class="tab" data-tab-name="documentation">Documentation</div>
      <div class="tab" data-tab-name="recent">Recent Renditions</div>
    </div>
  </div>
</template>