/**
 * Test Case form
 */
.test-case-roles {
  white-space: nowrap;
}

.test-case-role-container {
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  padding-right: 10px;
  min-height: 100px;
  min-width: 300px;
}

.add-role-container {
  vertical-align: top;
  display: inline-block;
  padding: 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 20px;
}

/**
 * TestCase step content
 **/

.test-case-step-body {
  width: 100%;
  height: 100%;
  align-self: center;
  text-align: center;
  min-height: 75px;
  display: flex;
  justify-content: center;
  
  transition: transform 0.4s, opacity 0.4s, height 0.4s, width 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, height 0.4s, width 0.4s;
}

.test-case-step-placeholder {
  border-radius: 10px;
  border: 2px solid #dddddd;
  margin-bottom: 5px;
}

.test-case-step-error {
  align-self: center;
}

.add-step-container {
  padding: 10px;
  text-align: center;
}

.draggable-wait {
  display: inline-block;
  cursor: pointer;
}

.draggable-wait-dragged {
  z-index: 10000;
}

.droppable-wait {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  background-color: #eeeeee;
  min-width: 50%;
  min-height: 50%;
}

.droppable-wait-active {
  background-color: #ffff00;
}

.droppable-wait-hover {
  background-color: #a7ff00 !important;
}

.removable-wait {
  display: inline-block;
  cursor: pointer;
}

.custom-editor-container {
  width: 100%;
}

/**
 * Other page content
 **/

.test-case-recent-result-container {
}

.test-result-row {
  cursor: pointer;
  border-radius: 3px;
}

.test-case-launcher-container {
}

.test-case-launcher-role {
  padding-right: 10px;
}