<template name="custom_field_types">
  <h4 class="inline" style="margin-right: 15px;">Custom Field Types</h4>
  <button class="btn btn-warning btn-add-custom-type">Add Custom Type</button>

  <ul class="nav nav-tabs">
    {{#each customTypes}}
      <li role="presentation"><a data-tab-name="{{titleDataName}}">{{title}}</a></li>
    {{/each}}
  </ul>

  <div class="tab-container">
    {{#each customTypes}}
      <div class="tab" data-tab-name="{{titleDataName}}">
        Fields describing <span class="data-store-name-editable" data-pk="{{_id}}">{{title}}</span>:
        {{> data_store_field_list }}
        <button class="btn btn-danger btn-delete-custom-type" data-store-id="{{_id}}">Delete Custom Type</button>
      </div>
    {{/each}}
  </div>
</template>