<template name="VersionUserTypesConfig">
  <ul class="nav nav-tabs">
    {{#each userTypes}}
      <li role="presentation"><a data-tab-name="{{getDataName title}}">{{title}}</a></li>
    {{/each}}
  </ul>

  <div class="tab-container">
    {{#each userTypes}}
      <div class="tab" data-tab-name="{{getDataName title}}">
        Fields describing {{title}} users:
        {{#with getDataStore}}
          <div class="user-type-data-store" data-pk="{{_id}}">
            {{> DataStoreFieldList }}

            Row Selection Render Function:
            <div class="alert alert-info" role="alert">
              <p>This code will be used to return a visual identifier for each row.</p>
              <dl>
                <dt>An example:</dt>
                <dd>return row.first_name + row.last_name;</dd>
              </dl>
              <p>Where the field datakeys are "first_name" and "last_name"</p>
            </div>

            {{> RobaAce minLines=5 maxLines=30 cssClass="render-row-selector" dataKey="renderRowSelector" value=renderRowSelector}}
          </div>
        {{/with}}
      </div>
    {{/each}}
  </div>
</template>