<template name="VersionCustomFieldTypes">
  <button class="btn btn-small btn-warning btn-add-custom-type">Add Custom Type</button>

  {{#unless customTypes.length}}
    <div class="alert alert-info" role="alert">
      You can use custom field types to describe more complex data types to mimic linked records in your data.
    </div>
  {{/unless}}

  <ul class="nav nav-tabs">
    {{#each customTypes}}
      <li role="presentation"><a data-tab-name="{{getDataName title}}">{{title}}</a></li>
    {{/each}}
  </ul>

  <div class="tab-container">
    {{#each customTypes}}
      <div class="tab" data-tab-name="{{getDataName title}}">
        Fields describing <span class="data-store-name-editable" data-pk="{{_id}}">{{title}}</span>:
        {{> DataStoreFieldList }}
        <button class="btn btn-danger btn-delete-custom-type" data-store-id="{{_id}}">Delete Custom Type</button>
      </div>
    {{/each}}
  </div>
</template>