<template name="VersionCredentialsConfig">

  <ul class="nav nav-tabs">
    {{#each userTypes}}
      <li role="presentation"><a data-tab-name="{{getDataName title}}">{{title}}</a></li>
    {{/each}}

    <li role="presentation"><a data-tab-name="custom-types">Custom Field Types</a></li>
  </ul>
  <div class="tab-container">
    {{#each userTypes}}
      <div class="tab" data-tab-name="{{getDataName title}}">
        <h4>Fields describing {{title}} users:</h4>
        {{#with getDataStore}}
          <div class="user-type-data-store" data-pk="{{_id}}">
            {{> DataStoreFieldList }}

            <h4>Row Selection Render Function:</h4>
            <div class="alert alert-info" role="alert">
              <p>This code will be used to return a visual identifier for each row.</p>
              <dl>
                <dt>An example:</dt>
                <dd>return row.first_name + row.last_name;</dd>
              </dl>
              <p>Where the field datakeys are "first_name" and "last_name"</p>
            </div>

            {{> EditableCode dataKey="renderRowSelector" value=renderRowSelector emptyText="Nothing defined"}}
          </div>
        {{/with}}
      </div>
    {{/each}}

    <div class="tab" data-tab-name="custom-types">
      {{> VersionCustomFieldTypes }}
    </div>
  </div>
</template>