<template name="DroneRoute">
  {{#each steps}}
    <div>
      <div class="simple-col simple-col-3 align-center">
      {{> standalone_node_snippet node }}
      </div>
    </div>
    {{#if action}}
      <div>
        <div class="simple-col simple-col-3 align-center">{{action.title}}</div>
        <div class="simple-col simple-col-9">
          {{#if action.variables.length}}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Default Value</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
              {{#each action.variables}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{defaultValue}}</td>
                  <td>
                    {{> EditableStringField emptyText="default" dataKey=getVarDataKey value=getVarValue }}
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</template>