<template name="AdventureHoverControls">
  <div class="hover-controls-container">
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-left-click" data-command="leftClick">
        <img class="toolbar-icon" src="/toolbar/white/left_click.svg" />
      </button>
      <button type="button" class="btn btn-primary btn-right-click" data-command="rightClick">
        <img class="toolbar-icon" src="/toolbar/white/right_click.svg" />
      </button>
      <button type="button" class="btn btn-primary btn-hover" data-command="moveTo">
        <img class="toolbar-icon" src="/toolbar/white/hover.svg" />
      </button>
      <button type="button" class="btn btn-primary btn-type">
        <span class="hidden-editable">
          <img class="toolbar-icon" src="/toolbar/white/enter_text.svg" />
        </span>
      </button>
    </div>
  </div>
</template>