<template name="TestCaseListGroup">
  <div class="test-case-list-selectable test-case-list-group no-select"
       data-group-id="{{staticId}}"
       data-pk="{{_id}}"
       data-parent-id="{{parentGroupId}}">
    <span class="glyphicon {{#if isExpanded}}glyphicon-folder-open{{else}}glyphicon-folder-close{{/if}}"></span>
    <span class="test-case-list-title">{{title}}</span>
  </div>
  <div class="test-case-list-group-items {{#unless isExpanded}}hide{{/unless}}" style="margin-left: 10px;" data-group-id="{{staticId}}">
    {{#each getGroups}}
      {{> TestCaseListGroup }}
    {{/each}}
    {{#each getTestCases}}
      {{> TestCaseListItem }}
    {{/each}}
  </div>
</template>