<template name="TestCase">
  <div class="test-case-form">
    {{> EditableTextField emptyText="title" value=title dataKey="title" cssClass="test-case-title" mode="popup" placement="left" }}
    {{> EditableTextArea emptyText="description" value=description dataKey="description" mode="popup" placement="left" }}

    <h2>Test Roles</h2>

    <div class="no-wrap">
      {{#if hasRoles}}
        {{#each testCaseRoles}}
          <div class="test-case-role-container" style="{{getRoleWidth ..}}">
            {{> TestCaseRole }}
          </div>
        {{/each}}
      {{else}}
        <div class="test-case-role-container">
          <h4>This Test Case has no roles</h4>
        </div>
      {{/if}}

      <div class="add-role-container">
        <button class="btn btn-xs btn-primary btn-add-role">
          <span class="glyphicon glyphicon-user"></span>
          Add Role
        </button>
      </div>
    </div>
  </div>
</template>