/**
 * Main test case container
 */
.test-case-container {
  width: 100%;
  height: 100%;
}

/**
 * Main test case navigation pane
 */
.test-case-nav {
  display: inline-block;
  width: 25%;
  padding: 0;
}

.test-case-list-container {
  padding: 10px;
}

.test-case-list-header {
  padding: 10px 0 10px 10px;
}

.test-case-list {
  padding: 15px 0 15px 15px;
}

/**
 * Main test case content pane
 */
.test-case-content {
  display: inline-block;
  width: 74%;
  vertical-align: top;
}

/**
 * Selectable test case list
 */
.test-case-list-selectable {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border-radius: 10px;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
}

.test-case-list-selectable:hover, .test-case-list-selectable.test-case-list-group.selected {
  background-color: #dddddd;
}

.test-case-list-drop-hover {
  background-color: #a7ff00;
}

.test-case-list-selectable.test-case-list-item.selected {
  color: #fff;
  background-color: #0A7BFF;
  background-image: url('/roba_stripe.svg');
  background-repeat: no-repeat;
  background-position: 105% 0%;
  background-size: contain;
}

.test-case-list-selectable.in-drag {
  color: #000 !important;
  opacity: 0.75;
  background-color: #ffffff !important;
  background-image: none !important;
}

.test-case-list-title {
  padding-left: 5px;
}

/**
 * Test Case form
 */
.test-case-form {
  padding-left: 20px;
  width: 100%;
}

.test-case-title {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}

.test-case-role-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}

.test-case-role-container {
  padding: 10px;
  border-right: 1px dashed #dddddd;
}

.add-role-container {
  padding: 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 20px;
}

.test-case-step {
  padding: 2px;
  min-height: 75px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.test-case-step-error {
  background-color: #FF0000 !important;
}

.test-case-step-type-0 {
  background-color: #0A7BFF;
}

.test-case-step-type-1 {
  background-color: #5cb85c;
}

.test-case-step-type-2 {
  background-color: #9701ff;
}

.test-case-step-type-3 {
  background-color: #5bc0de;
}

.test-case-step-type-4 {
  background-color: #ff8400;
}

.test-case-step-title {
  color: #fff;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: left bottom;
  float: left;
  position: absolute;
  height: 15px;
  width: 68px;
  bottom: 5px;
  left: 15px;
  cursor: pointer;
}

.test-case-step-body-container {
  width: 100%;
  padding-left: 20px;
}

.test-case-step-body {
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  min-height: 71px;
  width: 100%;
  height: 100%;
}

.test-case-step-body-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.test-case-step-delete {
  font-size: 10px;
  float: right;
  background-color: inherit;
  color: #fff;
  padding: 0 4px 2px 4px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.test-case-step-delete:hover {
  color: #ffff00;
}

.test-case-step-placeholder {
  border-radius: 10px;
  border: 2px solid #dddddd;
  margin-bottom: 5px;
}

.add-step-container {
  padding: 10px;
  text-align: center;
}

.wait-role-container {
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

.wait-role {
  cursor: pointer;
}