<template name="TestCaseDashboard">
  {{#contentFor "title"}}
    Test Case Dashboard
  {{/contentFor}}

  {{#with getFullContext}}
  <div class="test-case-container">
    <div class="test-case-nav">
      <div class="home-nav-item active">
        <h4 class="home-top-nav">
          {{#with project}}
            <a href="{{pathFor 'home_project'}}">{{title}}</a>
          {{/with}}
          {{#with version}}
            <small><a href="{{pathFor 'home_version'}}">v {{version}}</a></small>
          {{/with}}
          {{#with project}}
            <small>{{renderProjectRole userRole}}</small>
          {{/with}}
        </h4>
      </div>

      {{> TestCaseList }}
    </div>
    <div class="test-case-content">
      {{#if hasTestCase}}
        {{> TestCase getTestCase}}
      {{else}}
        <div class="align-center">
          <h2>Select a Test Case</h2>
        </div>
      {{/if}}
    </div>
  </div>
  {{/with}}
</template>