/**
 * Main console layout
 */
.adventure-main-view {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  -webkit-transition: width 0.25s, height 0.25s;
  transition: width 0.25s, height 0.25s;
}

.adventure-sidebar {
  /*position: fixed;*/
  display: inline-block;
  width: 39%;
  /*overflow-y: auto;*/
  padding-right: 10px !important;
  -webkit-transition: height 0.25s, width 0.25s;
  transition: height 0.25s, width 0.25s;
}

.adventure-header {
  margin-bottom: 10px;
  margin-top: 0;
  color: #888;
  padding: 10px;
  padding-bottom: 0;
}

.adventure-page-title, .adventure-page-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Status bar
 */
.adventure-status-bar {

}

.adventure-status-bar h4 {
 margin-bottom: 0;
}

.adventure-status-header {
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
}

/**
 * Map container
 */
.adventure-map-container {
  width: 100%;
  height: 33%;
  min-height: 300px;
  -webkit-transition: height 0.25s, min-height 0.25s;
  transition: height 0.25s, min-height 0.25s;
}

.adventure-map-container.show-parent-search {
  height: 50%;
}

.adventure-map-container .map-tree-base {
  min-height: 300px;
}

.map-tree-base .node-group {
  cursor: pointer;
}

/**
 * Command editor
 */
.command-editor-btn-bar {
  padding: 10px 0 10px 0;
  text-align: right;
}

/**
 * Command results
 */
.command-history-container {
}

.command-history-toolbar-fix {
  display: block;
  position: relative;
}

.command-history-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
  border-top: none;
  border-right: none;
  overflow: hidden;
}

.command-history-toolbar .btn {
  border: none;
  border-radius: 0;
}

.command-result {
  max-height: 4em;
  overflow: hidden;
}

.command-result.expanded {
  max-height: none;
}

/**
 *  screen view
 */
.adventure-screen-container {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-top: 0;
}

/**
 * Remote screen
 */
.remote-screen {
  width: 100%;
  /*box-shadow: 0 0 15px #888;*/
  border-radius: 10px;
  border-top-right-radius: 0;
  border: 3px solid #0a7bff;
}

.remote-screen-loading {
  height: 100%;
}

.remote-screen-loading-log {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.remote-screen-mask {
  position: absolute;
  z-index: 99;
  border-radius: 7px;
  border-top-right-radius: 0;
  /*
  background-color: rgba(255, 0, 0, 0.5);
  */
}

.remote-screen-pointer {
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  color: #0a7bff;
  position: absolute;
  pointer-events: none;
}

.remote-screen-tools {
  position: absolute;
  height: 20px;
  top: -20px;
  right: -12px; /* adjust for being flush with the border of the remote screen, not the mask */
}

.remote-screen-tools .btn-group {
  vertical-align: top;
}

.remote-screen-tools .btn-group button:first-child {
  border-bottom-left-radius: 0;
}

.remote-screen-tools .btn-group button:last-child {
  border-bottom-right-radius: 0;
}

/**
 * Toolbar components
 */
.highlight-element-toolbar {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.highlight-element-toolbar .editable-xpath {
  color: #fff;
  display: inline-block;
  padding: 3px;
  margin-right: 1px;
}

.toolbar-icon {
  max-width: 18px;
  max-height: 18px;
  fill: currentColor;
}
