/**
 * main console layout
 */
.adventure-main-view {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  -webkit-transition: width 0.25s, height 0.25s;
  transition: width 0.25s, height 0.25s;
}

.adventure-sidebar {
  /*position: fixed;*/
  display: inline-block;
  width: 39%;
  /*overflow-y: auto;*/
  padding-right: 10px !important;
  -webkit-transition: height 0.25s, width 0.25s;
  transition: height 0.25s, width 0.25s;
}

.adventure-status-bar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.adventure-status-header {
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
}

/**
 * map container
 */
.adventure-map-container {
  width: 100%;
  height: 33%;
  min-height: 300px;
  -webkit-transition: height 0.25s, min-height 0.25s;
  transition: height 0.25s, min-height 0.25s;
}

.adventure-map-container.show-parent-search {
  height: 50%;
}

.adventure-map-container .map-tree-base {
  min-height: 300px;
}

/**
 * Live command editor
 */
.command-editor-btn-bar {
  padding: 10px 0 10px 0;
  text-align: right;
}

/**
 * Live command results
 */
.command-history-container {
}

.command-history-toolbar-fix {
  display: block;
  position: relative;
}

.command-history-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
  border-top: none;
  border-right: none;
  overflow: hidden;
}

.command-history-toolbar .btn {
  border: none;
  border-radius: 0;
}

.command-result {
  max-height: 4em;
  overflow: hidden;
}

.command-result.expanded {
  max-height: none;
}

/**
 * Live drone view
 */
.adventure-screen-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.adventure-toolbar {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.adventure-header {
  margin-bottom: 10px;
  margin-top: 0;
  color: #888;
}

.adventure-page-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adventure-screen-tools {
  float: right;
  position: relative;
  height: 20px;
  top: -20px;
}

.adventure-screen-tools .btn-group {
  vertical-align: top;
}

.adventure-screen-tools .btn-group button:first-child {
  border-bottom-left-radius: 0;
}

.adventure-screen-tools .btn-group button:last-child {
  border-bottom-right-radius: 0;
}

.remote-screen {
  width: 100%;
  box-shadow: 0 0 15px #888;
}

.remote-screen-loading {
  height: 100%;
}

.remote-screen-loading-log {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.remote-screen-mask {
  position: absolute;
  z-index: 99;
}

.remote-screen-pointer {
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  color: #298cff;
  position: absolute;
  pointer-events: none;
}

/**
 * Live console toolbar components
 */
.toolbar-icon {
  max-width: 18px;
  max-height: 18px;
  fill: currentColor;
}

/**
 * Live console hover controls components
 */
.hover-controls-container {
  display: none;
  position: absolute;
  box-shadow: 0px 0px 15px #fff;
  z-index: 100;
  min-width: 200px;
}

.hidden-editable {
  display: inline-block;
}

/**
 * Live console highlight components
 */
.adventure-highlight-element {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.0);
  border: 1px dashed #f00;
  border-radius: 3px;
  cursor: pointer;
}

.adventure-highlight-element:hover, .adventure-highlight-element.active {
  background-color: rgba(255, 255, 0, 0.85);
  border-radius: 3px;
  z-index: 100;
}

.adventure-highlight-element.highlight {
  background-color: rgba(255, 255, 0, 0.5);
}

/**
 * Live console preview components
 */
.adventure-preview-element {
  position: absolute;
  background-color: rgba(0, 255, 0, 0.5);
  border: 1px dashed #0d0;
  border-radius: 3px;
  overflow: hidden;
  padding: 3px;
  cursor: pointer;
}

.adventure-preview-element:hover, .adventure-preview-element.active {
  background-color: rgba(255, 255, 0, 0.85);
  border-radius: 3px;
}

.adventure-preview-element.preview {
  background-color: rgba(255, 255, 0, 0.5);
}

.adventure-preview-detail-command {
  color: #00ff00;
}

/**
 * Live console Highlight Detail
 */
.adventure-highlight-detail {
  position: absolute;
  display: none;
  background-color: rgba(18, 18, 18, 0.85);
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  border-radius: 3px;
}

.adventure-highlight-detail.active {
  display: block;
  margin-bottom: 100px;
  z-index: 100;
}

.adventure-highlight-hierarchy {
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.adventure-highlight-hierarchy:hover {
  background-color: rgba(90, 90, 90, 0.65);
  border-radius: 2px;
}

.adventure-highlight-hierarchy .toggle {
  cursor: pointer;
  visibility: hidden;
  font-size: .75em;
  color: rgba(255, 255, 0, 1);
  display: inline-block;
}

.adventure-highlight-hierarchy:hover .toggle {
  visibility: visible;
}

.adventure-highlight-detail .clickable {
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 2px;
}

.adventure-highlight-detail .clickable:hover, .adventure-highlight-detail .clickable.selected {
  cursor: pointer;
  background: #0A7BFF;
}

.adventure-highlight-hierarchy .tag {
  color: #ff5900;
}

.adventure-highlight-hierarchy .attr {
  color: #00d4e6;
}

.adventure-highlight-hierarchy .value {
  color: #ffff00;
}

.adventure-highlight-hierarchy-content {
  display: none;
  /*visibility: hidden;
  height: 0px;
  -webkit-transition: height 1.25s;
  transition: height 1.25s;*/
}

.adventure-highlight-hierarchy-content.active {
  display: block;
  /*visibility: visible;
  height: auto;*/
}

.adventure-highlight-hierarchy-content h4 {
  color: #ffff00;
}

.adventure-hover-element-highlight {
  position: absolute;
  -webkit-transition: height .25s, width .25s, top .25s, left .25s;
  transition: height .25s, width .25s, top .25s, left .25s;
  border: 1px dashed #f00;
  border-radius: 3px;
}

/**
 * Live console Highlight List
 */
.adventure-highlight-list {
  margin-top: 20px;
  width: 100%;
}

.adventure-highlight-list .tag {
  color: #ff0000;
  text-transform: lowercase;
}

.adventure-highlight-list .attr {
  color: #00d4e6;
}

.adventure-highlight-list .value {
  color: #ff5900;
}

.adventure-highlight-list-row {
}

.adventure-highlight-list-row-header {
  cursor: pointer;
  margin-right: 20px;
  border-radius: 3px;
  padding: 3px;
}

.adventure-highlight-list-row-header:hover {
  background-color: rgba(225, 225, 225, 0.75);
}

.adventure-highlight-list-row-detail {
  display: none;
}

.adventure-highlight-list-row-detail.active {
  display: block;
}

/**
 * Node edit form
 */
.node-edit-form {
  padding: 10px;
}
.edit-node-action-row td {
  vertical-align: middle !important;
}

/**
 * Action edit form
 */
.action-edit-form {
  width: 100%;
  border: 2px solid #298cff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.action-edit-form-section {
  padding: 10px;
}

.action-edit-form-container td {
  border-top: none !important;
}

.edit-node-action-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-node-action-row.disabled {
  opacity: 0.5;
}

.edit-node-action-row > div {
  flex: 1 1 auto;
}

.edit-node-action-row .title-cell {
  flex: 2 2 300px;
}

.edit-node-action-row .route-cell {
  text-align: right;
  flex-basis: 200px;
}

.edit-node-action-row .action-cell {
  text-align: right;
  flex-basis: 100px;
}