
/**
 * Tabs
 */
ul.nav li {
  cursor: pointer;
}
.nav-pills > li > a {
  border-radius: 3px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: #298cff;
}

.tab-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.tab {
  display: none;
  padding: 10px 0 10px 0;
}

.tab.active {
  display: block;
}

/**
 * Full-height friendly
 */
ul.nav.full-height {
  z-index: 11;
  position: absolute;
  height: 50px;
}

.tab-container.full-height {
  z-index: 10;
  position: absolute;
  padding-top: 60px;
}

.tab-container.full-height .tab {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/**
 * Vertical tabs
 */
.vert-nav {
  width: 55px;
  float: left;
}

.vert-tab-container {
  position: absolute;
  padding-left: 55px;
  padding-right: 10px;
  float: right;
  width: 100%;
}