.test-result-container {
  padding: 5px;
}

.test-role-result-container {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border-right: 1px dashed #dddddd;
}

.test-role-result-table {
  border-collapse: separate;
  border-spacing: 2px;
}

.test-role-result-table td {
  padding: 2px;
  vertical-align: top;
}

.test-step-result-title-rotate {
  transform: rotate(-90deg);
  transform-origin: right bottom;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: right bottom;
  width: 1.4em;
}

.test-step-result-title-text {
  color: #fff;
  text-align: right;
  width: 6em;
  height: 1.4em;
  margin-left: -3.5em;
}

.test-step-result-title {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #CCCCCC;
}

.test-step-result-0 {
  background-color: #0A7BFF !important;
}

.test-step-result-1 {
  background-color: #5cb85c !important;
}

.test-step-result-2 {
  background-color: #9701ff !important;
}

.test-step-result-3 {
  background-color: #5bc0de !important;
}

.test-step-result-4 {
  background-color: #ff8400 !important;
}

.test-step-result-executing {
  background-color: #0A7BFF !important;
  background-image: url('/roba_stripe.svg');
  background-repeat: no-repeat;
  background-position: 10px 0%;
  background-size: contain;
}

.test-step-result-error {
  background-color: #ff0000 !important;
}

.test-step-result-body {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #CCCCCC;
  padding: 0px 10px 0px 0px !important;
}

.test-step-result-body-content {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  padding: 5px;
  display: table;
  width: 100%;
}
.test-step-result-body-content > div {
  display: table-cell;
  vertical-align: top;
}

.test-result-body-sponge {
  width: 100%;
}

.test-result-screenshots {
}

.test-result-screenshot {
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.test-result-detail-reveal {
  text-align: center;
  vertical-align: middle !important;
  height: 100%;
  color: #ddd;
  padding: 4px;
  border-radius: 5px;
}

.test-result-detail-reveal:hover {
  color: #fff;
  background-color: #ddd;
}
