/**
 * Header styling
 */
.test-result-0 { /** fail **/
  color: #FF0000;
}

.test-result-1 { /** pass **/
  color: #00d801;
}

.test-result-2 { /** warn **/
  color: #ffc100;
}

.test-result-3 { /** abort **/
  color: #b8b8b8;
}

/**
 * Container styling
 */
.round-container-error { /** fail **/
  background-color: #FF0000;
}

.round-container-yellow { /** warn **/
  background-color: #ffc100;
}

.round-container-grey { /** abort **/
  background-color: #b8b8b8;
}

/**
 * Report styling
 */
.test-result-role {
  padding-top: 10px;
}

.test-result-role-error {
  margin-bottom: 10px;
  max-width: 90%;
}

/**
 * Test result step "columns"
 */
.test-result-step-container {
  min-height: 150px;
}

.test-result-step-map-col {
  flex: 0 0 125px;
}

.test-result-step-screenshot-col {
  flex: 0 0 220px;
}

.test-result-step-check-col {
  flex: 1 1 250px;
  min-width: 300px;
}

.test-result-step-log-col {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

/**
 * Column details
 */
.test-result-step-map > svg {
  display: block;
}

.test-result-screenshot-thumb-list {
  width: 100%;
  overflow: hidden;
}

.test-result-screenshot-thumb-container {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #ccc;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

.test-result-screenshot-thumb-container:hover {
  z-index: 2;
  background-color: #0A7BFF;
}

.test-result-screenshot-thumb {
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.test-result-screenshot-thumb-title {
  text-transform: capitalize;
  padding: 0 10px 0 10px;
}

.test-result-log-reveal {
  color: #ffffff;
  background-color: #dddddd;
  padding: 4px;
  border-radius: 5px;
  margin: 0 5px;

  display: flex;
  align-self: stretch;
  align-items: center;
}

.test-result-log-reveal:hover {
  background-color: #0A7BFF;
}

.test-result-step-log {
  margin-top: 20px;
  border-top: 2px solid #9b9b9b;
  padding-top: 5px;
}
/**
 * Test result check styling
 */
.test-result-check-table {
  width: 100%;
}
.test-result-check-table tr:hover td {
  background-color: #0A7BFF;
  cursor: pointer;
  color: #ffffff;
}
.test-result-check-table td {
  padding: 3px;
}

.test-result-check-table td:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.test-result-check-table td:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.test-result-check-command  {
  /*max-width: 300px;
  display: inline-block;*/
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break-wrap: all;
  white-space: pre-wrap;
  overflow: hidden;
  vertical-align: top;
}

/**
 * Screenshots
 */
.test-result-screenshot-wrapper {
  opacity: 1;
  -webkit-transition: opacity 0.50s;
  -moz-transition: opacity 0.50s;
  -ms-transition: opacity 0.50s;
  -o-transition: opacity 0.50s;
  transition: opacity 0.50s;

  display: flex;
  flex-direction: column;
}

.test-result-screenshot-wrapper label {
  display: block;
}

.test-result-screenshot-position-layer {
  box-shadow: 0 0 40px #dddddd;
  margin: 20px;
  position: absolute;
}

.test-result-screenshot {
  position: absolute;
  left: 0;
  top: 0;
}

/**
 * Screenshot comparison
 */
.test-result-comparison-thumb-wrapper {
  text-align: center;
}

.test-result-comparison-thumb {
  margin: 20px;
}

.test-result-comparison-thumb:hover {
  box-shadow: 0 0 40px #dddddd;
}

.test-result-screenshot-comparitor-layers .slider {
  width: 120px;
  padding-left: 15px;
}