<template name="AdventureEditNodeActions">
  {{#if this}}
    <h3>Actions for this <span class="dark-blue">{{renderLookup "NodeTypesLookup" type}}</span></h3>

    {{#each getActions}}
      {{> AdventureEditNodeActionRow }}
    {{/each}}
    <div>
      <button class="btn btn-warning btn-xs btn-add-action">
        <span class="glyphicon glyphicon-plus"></span>
        Add an Action to {{title}}
      </button>
    </div>


    {{#each getNavMenus}}
      <h3>Actions from <span class="dark-blue">{{title}}</span></h3>

      {{#each actions}}
        {{> AdventureEditNodeActionRow }}
      {{/each}}
      <div>
        <button class="btn btn-warning btn-xs btn-add-action">
          <span class="glyphicon glyphicon-plus"></span>
          Add an Action to {{title}}
        </button>
      </div>
    {{/each}}
  {{/if}}
</template>