<template name="AdventureEditNodeActionRow">
  <div class="edit-node-action-row">
    <div style="flex: 2 2 300px;">{{title}}</div>
    <div style="text-align: right; flex-basis: 200px;">{{> ActionRouteSnippet actionWithScale }}</div>
    <div style="text-align: right; flex-basis: 100px;">
      <div class="btn-group action-control-buttons" role="group" data-action-id="{{_id}}">
        {{#unless adventureIsComplete getAdventureContext}}
          <button type="button" class="btn btn-xs btn-success btn-execute-action" disabled="{{#unless code}}disabled{{/unless}}">
            <span class="glyphicon glyphicon-play"></span>
          </button>
        {{/unless}}
        <button type="button" class="btn btn-xs btn-primary btn-edit-action">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-xs btn-danger btn-delete-action">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="hide action-edit-form-container"></div>
</template>