<template name="AdventureEditNodeForm">
  <div class="node-edit-form {{#unless adventureIsStill ../adventure}}hide{{/unless}}">
    <div class="btn btn-warning pull-right btn-wrong-node"
         data-toggle="popover"
         data-trigger="focus"
         data-content="This is not the correct node"
      >X</div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a data-tab-name="node">
        {{renderNodeType type}}
      </a></li>
      <li role="presentation"><a data-tab-name="wait-for">Ready</a></li>
      <li role="presentation"><a data-tab-name="validations">Validations</a></li>
      <li role="presentation"><a data-tab-name="actions">Actions</a></li>
    </ul>
    <div class="tab-container">
      <div class="tab" data-tab-name="node">
        <div>
        {{#unless isMatch this ..}}
          <div class="alert alert-warning">
            The current node does <i>not</i> match the data below:
            {{#with nodeComparison this ..}}
              {{#unless title.match}}
                <div>
                  <span class="dark-blue">title: </span>
                  {{#each title.pieces}}
                    <span
                      class="inline-block node-search-result node-search-{{renderNodeSearchStatus status}}"
                      data-toggle="popover"
                      data-trigger="focus"
                      data-content="{{renderNodeSearchStatus status}}: {{value}}"
                      >{{value}}</span>
                  {{/each}}
                </div>
              {{/unless}}
              {{#unless url.match}}
                <div>
                  <span class="dark-blue">url: </span>
                    <span>
                      {{#each url.pieces}}
                        <div class="inline-block">
                          /<span
                          class="node-search-result node-search-{{renderNodeSearchStatus status}}"
                          data-toggle="popover"
                          data-trigger="focus"
                          data-content="{{renderNodeSearchStatus status}}: {{value}}"
                          >{{value}}</span>
                        </div>
                      {{/each}}
                    </span>
                </div>
              {{/unless}}
              {{#unless params.match}}
                <div>
                  <span class="dark-blue align-top">parameters: </span>
                  <div class="inline-block">
                    {{#each params.pieces}}
                      <div
                        class="node-search-result node-search-{{renderNodeSearchStatus status}}"
                        data-toggle="popover"
                        data-trigger="focus"
                        data-content="{{renderNodeSearchStatus status}}: {{value.param}}{{#if value.value}}={{value.value}}{{/if}}"
                        >{{value.param}}{{#if value.value}}={{value.value}}{{/if}}</div>
                    {{/each}}
                  </div>
                </div>
              {{/unless}}
            {{/with}}
          </div>
        {{/unless}}
        </div>
        <table>
          <tr>
            <td class="field-label">Type: </td>
            <td>{{> EditableNodeType cssClass="inline-block" pageView=true value=type dataKey="type" emptyText="Select a node type" }}</td>
          </tr>
          <tr>
            <td class="field-label">Name: </td>
            <td>{{> EditableStringField cssClass="inline-block" value=title dataKey="title" emptyText="none"}}</td>
          </tr>
          <tr>
            <td class="field-label">Page Title: </td>
            <td>{{> EditableStringField cssClass="inline-block" value=pageTitle dataKey="pageTitle" emptyText="none"}}</td>
          </tr>
          <tr>
            <td class="field-label">Base Url: </td>
            <td>{{> EditableStringField cssClass="inline-block" value=url dataKey="url" emptyText="none"}}</td>
          </tr>
        </table>
        <div>
          <span class="field-label">Identifying Url Parameters:</span>
          <button class="btn btn-warning btn-small-round btn-add-url-parameter" data-pk="{{_id}}">+</button>
          <div style="padding-left: 20px; width: 80%;">{{> edit_node_url_parameters }}</div>
        </div>

      </div>
      <div class="tab" data-tab-name="wait-for">
        <div class="sub-heading">Code to determine if this {{renderNodeType type}} is ready:</div>
        {{> RobaAce minLines=10 maxLines=30 dataKey="readyCode" value=readyCode}}
      </div>
      <div class="tab" data-tab-name="validations">
        <div class="sub-heading">Code to determine if this {{renderNodeType type}} is valid:</div>
        {{> RobaAce minLines=10 maxLines=30 dataKey="validationCode" value=validationCode}}
      </div>
      <div class="tab" data-tab-name="actions">
        <div class="sub-heading">Actions for this {{renderNodeType type}}:</div>
        <table>
          {{#each getActions}}
            <tr>
              <td>{{title}}</td>
              <td>{{> ActionRouteSnippet}}</td>
              <td>
                {{#unless adventureIsComplete ../../adventure}}
                <button type="button" class="btn btn-xs btn-success btn-execute-action">
                  <span class="glyphicon glyphicon-play"></span>
                  Execute
                </button>
                {{/unless}}
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>

</template>