<template name="AdventureLogTable">
  <table class="adventure-log-table">
    <thead>
      <tr>
        <th><div>Time</div></th>
        <th><div>Level</div></th>
        <th><div>Source</div></th>
        <th><div>Message</div></th>
      </tr>
    </thead>
    <tbody>
    {{#if Template.subscriptionsReady}}
      {{#each messages}}
        <tr>
          <td class="adventure-log-time">{{renderLogTime time}}</td>
          <td class="adventure-log-level log-level-{{level}}">{{level}}</td>
          <td class="adventure-log-sender no-wrap">{{sender}}</td>
          <td class="adventure-log-message">
            <div>
              {{#with data}}
                {{> Template.dynamic template=getLogDataTemplate}}
              {{/with}}
            </div>
          </td>
        </tr>
      {{/each}}
      {{#if hasMoreMessages}}
        <tr>
          <td colspan="4" class="adventure-load-more">
            <button class="btn btn-primary btn-load-more">
              <span class="glyphicon glyphicon-forward"></span>
              Load More
            </button>
            <button class="btn btn-primary btn-load-all">
              <span class="glyphicon glyphicon-fast-forward"></span>
              Load All
            </button>
          </td>
        </tr>
      {{/if}}
    {{else}}
      <tr>
        <td colspan="4" class="adventure-loading">
          {{> InlineSpinner }}
        </td>
      </tr>
    {{/if}}
    </tbody>
  </table>
</template>