<template name="AdventureLogTable">
  <table class="adventure-log-table">
    <tbody>
		{{#each messages}}
      <tr>
        <td class="adventure-log-time">{{renderLogTime time}}</td>
        <td class="adventure-log-level log-level-{{level}}">{{level}}</td>
        <td class="adventure-log-sender  no-wrap">{{sender}}</td>
        <td>
          <div style="width: 100%;">
						{{#with data}}
							{{> Template.dynamic template=getLogDataTemplate}}
						{{/with}}
          </div>
        </td>
      </tr>
		{{/each}}
    </tbody>
  </table>
</template>