/*
ALL: "grey",
TRACE: "blue",
DEBUG: "cyan",
INFO: "green",
WARN: "yellow",
ERROR: "red",
FATAL: "magenta",
OFF: "grey"
*/
.adventure-log-table {
  width: 100%;
}

.adventure-log-table > tbody > tr > td {
  padding: 0 3px;
}

.adventure-log-time {
  text-align: right;
}

.log-level-TRACE, .log-level-trace {
  color: #bfbfbf;
}

.log-level-DEBUG, .log-level-debug {
  color: #808080;
}

.log-level-INFO, .log-level-info {
  color: #298cff;
}

.log-level-WARN, .log-level-warn {
  color: #999900;
}

.log-level-ERROR, .log-level-error {
  color: red;
}

.log-level-FATAL, .log-level-fatal {
  color: #990099;
}

.log-message-sender {
  font-family: "Helvetic Neue", Helvetica, Arial;
  text-transform: capitalize;
  font-weight: bold;
}

.log-message-roba-driver {
  color: #0000cc;
}

.log-message-runner {
  color: #cc00cc;
}

.log-message-ddp-link {
  color: #cc6600;
}

.log-message-browser {
  color: #02a300;
}
