
.adventure-log-table {
  width: 100%;
}

.adventure-log-table > tbody > tr:hover {
  background-color: #f5f5f5;
}

.adventure-log-table .adventure-load-more {
  padding: 5px;
  background-color: #f5f5f5;
}

.adventure-log-table .adventure-loading, .adventure-log-table .adventure-loading:hover {
  padding: 5px;
  background-color: transparent;
  width: 100%;
  text-align: center;
}

/**
 * Header
 */
.adventure-log-table th {
  height: 40px;
}

.adventure-log-table th > div {
  position: fixed;
  top: 0px;
  padding: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #dddddd;
  background-color: #f5f5f5;
  height: 35px;
  width: 100%;
}

/**
 * Messages
 */

.adventure-log-table > tbody > tr > td {
  padding: 0 3px;
}

.adventure-log-message > div {
  width: 100%;
}

.adventure-log-time {
  text-align: right;
}

/**
 * Log Levels
 */
.log-level-TRACE, .log-level-trace {
  color: #bfbfbf;
}

.log-level-DEBUG, .log-level-debug {
  color: #808080;
}

.log-level-INFO, .log-level-info {
  color: #298cff;
}

.log-level-WARN, .log-level-warn {
  color: #999900;
}

.log-level-ERROR, .log-level-error {
  color: red;
}

.log-level-FATAL, .log-level-fatal {
  color: #990099;
}

/**
 * Log Senders
 */

.log-message-sender {
  font-family: "Helvetic Neue", Helvetica, Arial;
  text-transform: capitalize;
  font-weight: bold;
}

.log-message-roba-driver {
  color: #0000cc;
}

.log-message-runner {
  color: #cc00cc;
}

.log-message-ddp-link {
  color: #cc6600;
}

.log-message-browser {
  color: #02a300;
}

/**
 * Log data
 */
.log-data-container {
  display: block;
  vertical-align: top;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;
}

.log-data-value {
  display: inline-block;
  word-break: break-all;
  overflow-wrap: break-word;
  vertical-align: top;
}

.log-data-object-value {
  padding-left: 5px;
}

.log-data-object-expander {
  padding: 3px;
  color: #fff;
  background-color: #ccc;
  border-radius: 3px;
  width: auto;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.log-data-object-expander:hover {
  background-color: #0A7BFF;
}

.log-data-object-container {
  display: block;
}

.log-data-object {
  display: inline-block;
}

.log-data-object-key {
  font-weight: bold;
  white-space: nowrap;
}

.log-data-array-value {
  display: inline-block;
  vertical-align: top;
  margin: 1px;
}