<template name="AdventureToolbar">
  <table class="full-width">
    <tr>
      <td>
        <div class="input-group" role="group">
          <input type="text"
                 class="form-control selector-value"
                 aria-label="..."
                 placeholder="Enter a selector to highlight matched elements"
                 value="{{getXPath}}">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary btn-clear">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            {{#unless adventureIsComplete adventure}}
              <button type="button" class="btn btn-primary btn-refine">
                <span class="glyphicon glyphicon-ok-circle"></span>
              </button>
              <button type="button" class="btn btn-primary btn-highlight">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            {{/unless}}
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="caret"></span>
            </button>
            {{> AdventureSelectorCheckMenu node=getCurrentNode }}
          </div>
        </div>
      </td>
      {{#unless adventureIsComplete adventure}}
      <td style="padding-left: 10px; {{#if highlightElements}}min-width: 185px;{{/if}} text-align: right;">
        <div class="btn-group" role="group">
          {{#if highlightElements}}
            <button type="button" class="btn btn-primary btn-clear-highlight">
              <span class="glyphicon glyphicon-ban-circle"></span>
              Clear Highlight
            </button>
          {{/if}}
          <button type="button" class="btn btn-primary btn-refresh">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
      </td>
      {{/unless}}
    </tr>
  </table>
</template>