<template name="AdventureEditNodeActionRow">
  <tr class="edit-node-action-row">
    <td>{{title}}</td>
    <td style="text-align: right;">{{> ActionRouteSnippet actionWithScale }}</td>
    <td style="width: 100px; text-align: right;">
      <div class="btn-group" role="group">
        {{#unless adventureIsComplete getAdventureContext}}
          <button type="button" class="btn btn-xs btn-success btn-execute-action" disabled="{{#unless code}}disabled{{/unless}}">
            <span class="glyphicon glyphicon-play"></span>
          </button>
        {{/unless}}
        <button type="button" class="btn btn-xs btn-primary btn-edit-action">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-xs btn-danger btn-delete-action">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </td>
  </tr>
  <tr class="hide action-edit-form-container">
    <td colspan="3">
    </td>
  </tr>
</template>