<template name="AdventureEditActionForm">
  <div class="panel panel-default action-edit-form">
    {{#with getActionRecord}}
      <div class="panel-heading">
        <span class="field-label">Title:</span>
        {{> EditableTextField cssClass="action-editable inline" value=title dataKey="title" }}
        <button class="btn btn-warning btn-xs btn-close-action-edit-form pull-right">X</button>
      </div>
      <div class="panel-body">
        <h4>Action Code</h4>
        {{> RobaAce cssClass="action-editable" minLines=6 maxLines=15 dataKey="code" value=code }}

        <h4>Action Variables</h4>
        {{> action_edit_variables }}

        <h4>Action Routes</h4>
        {{> action_edit_routes }}
      </div>
    {{/with}}
  </div>
</template>