<template name="data_store_field_list">
  <button class="btn btn-warning btn-add-field">Add Field</button>
  <table class="sortable-table">
    <tr class="sortable-table-header">
      <td></td>
      <td>Title</td>
      <td>Data Key</td>
      <td>Type</td>
      <td>Shape</td>
      <td></td>
    </tr>
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
    {{#each getFields}}
      <tr class="sortable-table-row data-store-field" data-pk="{{_id}}" data-field-order="{{order}}" data-store-id="{{../_id}}">
        <td class="drag-handle"><span class="glyphicon glyphicon-record"></span></td>
        <td>{{> EditableStringField value=title dataKey="title"}}</td>
        <td><small>({{dataKey}})</small></td>
        <td>
          {{> EditableFieldType type=type dataKey="type" }}
          {{> EditableCustomFieldType type=type customFieldType=customFieldType projectVersionId=../projectVersionId dataKey="customFieldType" }}
        </td>
        <td>{{> EditableFieldShape fieldIsArray=fieldIsArray dataKey="fieldIsArray"}}</td>
        <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    {{/each}}
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
  </table>
</template>