/**
 * Editor Styling
 */

.editable-code-editor {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.editable-code-editor > .ace-editor-container {
  width: 100%;
  height: 100%;
}

/**
 * Highlight.js styling
 */
.hljs {
  background-color: transparent;
}

.keyword {

}

.comment {

}

.number {

}

.literal {

}

.built_in {

}

.string {

}

.regexp {

}

.function {

}

.title {

}

.params {

}

.pi {

}