<template name="DriverCommandList">
  {{#CenterPoleLayout}}
    {{#if ready}}
      {{setTitle "Driver Command List" }}
      {{setNavTitle "Driver Command List" }}

      <h1>Driver Command List</h1>

      <table class="sortable-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Params</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each commands}}
            <tr>
              <td>{{type}}</td>
              <td>{{name}}</td>
              <td>
              {{#each params}}
                {{this.name}}
              {{/each}}
              </td>
              <td>
                <pre>{{description}}</pre>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/CenterPoleLayout}}
</template>