
/* =============================================================================
Main Container
============================================================================= */
.dialog {
	margin: 20px;

	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border: 2px solid #50d7ff;

	box-shadow: 0px 0px 35px 1px rgba(128, 128, 128, 0.25);
	background-color: #fff;
	overflow: hidden;
	position: fixed;
	min-height: 100px;
	min-width: 300px;
	z-index: 100;
	width: auto;
}

.dialog-screen {
	background: rgba(255, 255, 255, 0.65);
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dialog-screen-clear {
  background: rgba(255, 255, 255, 0.01);
}

/* =============================================================================
Title
============================================================================= */
.dialog .title {
	font-size: 18pt;
	background: #50d7ff;
	padding: 5px;
	color: #fff;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom-right-radius: 10px;
}

/* =============================================================================
Content Wrapper
============================================================================= */
.dialog .content {
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 100px;
}

/* =============================================================================
Button Bar
============================================================================= */
.dialog .button-bar {
	margin-top: 5px;
	text-align: right;
}

.dialog .button-bar button {
	/*background: #50d7ff;
	color: #fff;*/
	background: none;
	color: #298cff;
	font-size: 18pt;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
	margin-left: 2px;
	cursor: pointer;
	border: none;
	border-radius: 0;
}

.dialog .button-bar button:first-child {
	border-top-left-radius: 10px;
}

.dialog .button-bar button:hover {
	background: #eee;
	/*color: #ffff00;*/
}
