<template name="DataStoreDataTable">
  {{#if schema}}
    <div class="data-store-table-container">
    {{#with getTableSchema }}
      <table class="table data-store-table">
        <tr class="data-store-table-header">
          <td></td>
          {{#each fields}}
            {{#if isPrimaryColumn}}
              <td>{{title}}</td>
            {{/if}}
          {{/each}}
        </tr>
        <tr class="data-store-table-divider">
          <td colspan="{{getPrimaryColumnCount}}"><div></div></td>
        </tr>
        {{#if getRows.count}}
          {{#each getRows}}
            <tr class="data-store-table-row">
              <td class="btn-edit-row"><span class="glyphicon glyphicon-edit"></span></td>
              {{#each ../fields}}
                {{#if isPrimaryColumn}}
                  <td>{{getFieldValue this ..}}</td>
                {{/if}}
              {{/each}}
              <td class="btn-delete-row"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            {{#each ../fields}}
              {{#if isChildColumn}}
                {{#if childHasValue this ..}}
                  <tr class="data-store-table-child-header">
                    <td>{{title}}</td>
                    <td colspan="{{getChildColSpan ../..}}">
                      {{> DataStoreChildTable getChildContext this ..}}
                    </td>
                  </tr>
                {{/if}}
              {{/if}}
            {{/each}}
          {{/each}}
        {{else}}
          <tr class="data-store-table-empty">
            <td colspan="{{getPrimaryColumnCount}}"><i>No Data</i></td>
          </tr>
        {{/if}}
        <tr class="data-store-table-divider">
          <td colspan="{{getPrimaryColumnCount}}"><div></div></td>
        </tr>
      </table>
    {{/with}}
      <button class="btn btn-warning btn-add-ds-row" data-store-id="{{_id}}">Add Row</button>
    </div>
  {{else}}
    <div class="alert alert-warning" role="alert">
      There are no fields defined for this user type. Defined fields in the Credentials Configuration section.
    </div>
  {{/if}}
</template>