<template name="CenterPoleLayout">
  {{#ForceLoggedIn}}
    {{> nav_menu }}

    <div class="center-pole-container">
      <div class="center-pole-left">
        <div class="center-pole-left-inner">
          <div class="center-pole-page-title">
            {{> Template.dynamic template=header }}
          </div>

          <div class="center-pole-nav">
            {{> Template.dynamic template=nav }}
          </div>
        </div>
      </div>
      <div class="center-pole-content">
        {{> Template.contentBlock }}
      </div>
    </div>
  {{/ForceLoggedIn}}
</template>