<template name="Home">
  {{#contentFor "title"}}
    {{#with currentUser }}
      {{name}}
    {{/with}}
  {{/contentFor}}

  <div class="home-container full-height">
    <div class="home-nav full-height auto-transition auto-slide-right intro-slide-right">
      <div class="home-nav-item {{#if isActiveDashboard}}active{{/if}}">
        <h3 class="home-top-nav">
          <a href="{{pathFor 'home'}}">Personal Dashboard</a>
        </h3>
      </div>
      {{#each userProjects}}
        <div class="home-nav-item {{#if isActiveProject}}active{{/if}}">
          <h3 class="home-top-nav">
            <a href="{{pathFor 'home_project'}}">{{title}}</a>
            <small>{{renderProjectRole role}}</small>
          </h3>
        </div>
        {{#each projectVersions}}
        <div class="home-nav-item {{#if isActiveVersion}}active{{/if}}">
          <h4 class="home-sub-nav">
            <a href="{{pathFor 'home_version'}}">v {{version}}</a>
            <small>{{dateFormat dateCreated}}</small>
            <a href="{{pathFor 'doc_tree'}}">
              <span class="glyphicon glyphicon-map-marker"></span>
            </a>
            <a href="{{pathFor 'test_case_dashboard'}}">
              <span class="glyphicon glyphicon-ok-circle"></span>
            </a>
            <a href="{{pathFor 'test_run_template_dashboard'}}">
              <span class="glyphicon glyphicon-list-alt"></span>
            </a>
          </h4>
        </div>
        {{/each}}
      {{/each}}
    </div>
    <div class="home-content auto-transition auto-slide-left intro-slide-left">
      {{#if project}}
        {{#if version}}
          {{> version_dashboard }}
          {{setTitle "Home :: " project.title "v" version.version}}
        {{else}}
          {{> project_dashboard }}
          {{setTitle "Home :: " project.title}}
        {{/if}}
      {{else}}
        {{> user_dashboard }}
        {{setTitle "Home"}}
      {{/if}}
    </div>
  </div>
</template>