<template name="Home" xmlns="http://www.w3.org/1999/html">
  {{#CenterPoleLayout}}
    {{#if ready}}
      {{#contentFor "nav-title"}}
        {{currentUser.profile.name}}
      {{/contentFor}}

      {{#contentFor "header"}}
        <h1>{{ currentUser.profile.name }}</h1>
      {{/contentFor}}

      {{#contentFor "nav"}}
        {{> HomeNav }}
      {{/contentFor}}

      {{setTitle "Home"}}

      <h1>Personal Dashboard</h1>

    {{else}}
      {{> CustomSpinner }}
    {{/if}}
  {{/CenterPoleLayout}}
</template>