<template name="VersionServers">
  {{#CenterPoleSectionHeader}}
    <h2>Servers</h2>
  {{/CenterPoleSectionHeader}}

  <div class="pole-content-indent">
    {{> VersionServerList }}
  </div>

  {{#CenterPoleSectionHeader}}
    <h2>Configuration Variables</h2>
  {{/CenterPoleSectionHeader}}

  <div class="pole-content-indent">
    {{> VersionServerConfig }}
  </div>

  {{#CenterPoleSectionHeader}}
    <h2>Server Credentials Sets</h2>
  {{/CenterPoleSectionHeader}}

  <div class="pole-content-indent">
    Credentials Data Sets
  </div>
</template>