<template name="server_list">
  <button class="btn btn-warning btn-add-server" data-pk="{{version._id}}">Add Server</button>
  <table class="sortable-table">
    <tr class="sortable-table-header">
      <td></td>
      <td>Name</td>
      <td width="60%">URL</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
    {{#unless sortedServers.length}}
      <tr>
        <td colspan="5"><i>Click Add Server to add a server for testing against</i></td>
      </tr>
    {{/unless}}
    {{#each sortedServers}}
      <tr class="sortable-table-row server-list-row" data-pk="{{_id}}" data-sort-order="{{order}}">
        <td class="drag-handle"><span class="glyphicon glyphicon-record"></span></td>
        <td>{{> EditableStringField cssClass="server-editable" value=title dataKey="title"}}</td>
        <td>{{> EditableStringField cssClass="server-editable" value=url dataKey="url" dataType="url"}}</td>
        <td>{{> EditableFieldYesNo cssClass="server-editable" value=active dataKey="active"}}</td>
        <td class="btn-delete"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    {{/each}}
    <tr class="sortable-table-divider">
      <td colspan="6"><div class="divider"></div></td>
    </tr>
  </table>
</template>