/**
 *
 *  Basic styling common to the whole app
 *
 **/

body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

a {
  color: #298cff;
  cursor: pointer;
}

button {
  outline: none;
}

#content {
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select-complete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none
}

.no-wrap {
  white-space: nowrap;
}

.force-wrap {
  word-break: break-all;
  overflow-wrap: break-word;
}

.full-page {
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.full-page > .row, .full-page > .row > div {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.vertical-box {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.vertical-box > tr > td {
  vertical-align: top;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  width: 100%;
  display: flex;
  align-content: stretch;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.auto-scroll {
  overflow: auto;
}

.light {
  font-weight: normal;
}

.dark-blue {
  color: #298cff;
}

.dark-orange {
  color: #ff3507;
}

.btn-small-round {
  display: inline-block;
  padding: 0;
  padding-left: 1px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 1em;

}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.capitalize {
  text-transform: capitalize;
}

.field-clear-btn {
  position: absolute;
  z-index: 10;
  left: -18px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  display: none;
}

/**
 * Header styles
 */
h4.section {
  padding: 10px 20px;
  color: #fff;
}

h4.blue {
  background-color: #298cff;
}

h4.grey {
  background-color: #A5A5A5;
}

h4.orange {
  background-color: #ff8400;
}

h4.green {
  background-color: #5cb85c;
}

h4.purple {
  background-color: #ca80ff;
}

h4.light-blue {
  background-color: #5bc0de;
}

h4.pink {
  background-color: #fecbff;
}

h4.yellow {
  background-color: #efff29;
}
