.ace-chrome .ace_gutter {
  background: #50d7ff !important;
  color: #333;
  overflow : hidden;
}

.ace-chrome .ace_print-margin {
  width: 1px;
  background: #e8e8e8;
}

.ace-chrome {
  background-color: #FFFFFF;
  color: black;
  border-right: 5px solid #50d7ff;
}

.ace-editor-container {
  border-top: 1px solid #50d7ff;
  border-bottom: 1px solid #50d7ff;
}

.ace-editor-container.grey {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.ace-editor-container.grey .ace-chrome .ace_gutter {
  background: #ddd !important;
  color: #333;
  overflow : hidden;
}

.ace-editor-container.grey .ace-chrome {
  background-color: #fff;
  color: black;
  border-right: 5px solid #ddd;
}

/* Auto-complete styling */
/* The matched portion of the suggestion */
.ace_completion-highlight {
  text-shadow: none !important;
  color: #298cff !important;
}

/* The source of the suggestion */
.ace_autocomplete .ace_rightAlignedText {
  color: #298cff;
}