.editable-click, a.editable-click, a.editable-click:hover {
  border: none;
  color: #666;
  cursor: pointer;
}

.editable-unsaved {
  background: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

.editableform textarea.input-large {
  min-width: 500px;
}