.x-editable-node-selector {
}

.x-editable-node-selector .input-group {
  width: 100%;
  margin-bottom: 5px;
}

.x-editable-node-selector .search-results {
  width: 400px;
  height: 300px;
  overflow-y: auto;
}