<template name="XEditableNodeSearch">
  <div class="input-group input-group-sm">
    <input type="text" class="form-control input-search" placeholder="Search nodes...">
  </div>
  <div style="margin: 5px;">
    {{#if getValue}}
      Current Node: {{renderNodeTitle getValue projectVersionId}}
    {{/if}}
  </div>
  <div class="search-results">
    {{#if searchTerm.length}}
      {{#if searchResults.length}}
        {{> NodeTermSearchResults searchResults}}
      {{else}}
        <div class="alert alert-warning">No matching nodes</div>
      {{/if}}
    {{else}}
      <div class="alert alert-info">Enter a search term</div>
    {{/if}}
  </div>
</template>