.custom-spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 110px;
    min-width: 110px;
}

.custom-spinner-screen {
    background-color: rgba(255, 255, 255, 0.5);
}

.custom-spinner-container svg {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

.custom-spinner-container .background {
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 3;
}

.custom-spinner-blade {
    fill: #298cff;
    stroke-width: 0;
}

.custom-spinner-white .custom-spinner-blade {
    fill: #fff;
}

.inline-spinner-container, .inline-spinner-container svg {
  display: inline-block;
  vertical-align: top;
}
.inline-spinner-container svg {
  width: 100%;
  height: 100%;
}