<template name="NodeSnippet">
  <g class="node-group" visibility="visible" opacity="1" id="{{getElementId}}">
    <rect class="node {{getNodeClass}}" x="0" y="0" width="{{nodeConfig 'width'}}" height="{{nodeConfig 'height'}}"
          rx="{{nodeConfig 'cornerRadius'}}" ry="{{nodeConfig 'cornerRadius'}}"></rect>
    <g class="node-content" clip-path="url(#node-clip-path)">
      <rect class="title-backround" x="0" y="0" width="{{nodeConfig 'width'}}"
            height="{{nodeConfig 'headerHeight'}}"></rect>
      {{constant}}
      <g class="node-title-container"></g>
      {{constant}}
    </g>
  </g>
</template>