<template name="VerticalRouteSnippet">
  <svg class="action-snippet auto-transition" width="{{width}}" height="{{height getSteps}}">
    <g transform="translate({{xMargin}}, {{yMargin}}) scale({{getScale}})" class="snippet-container">
      {{#each getSteps }}
        <g transform="translate(0,{{startY}})" class="snippet-step-action" data-step-index="{{@index}}">
          {{#if action}}
            <g>
              {{> ActionSnippet action}}
            </g>
          {{/if}}
          {{#if node}}
            <g transform="translate(0,{{nodeY}})" class="snippet-step-node" data-step-index="{{@index}}">
              {{> NodeSnippet node}}
            </g>
          {{/if}}
        </g>
      {{/each}}
    </g>
  </svg>
</template>